<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Delivery Detail
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismissModal()">
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item text-center>
        <ion-icon name="contact"></ion-icon>
        <ion-label class="label-size-30px">
          {{data.fname}} {{data.lname}}
        </ion-label>
      </ion-item>

      <ion-item text-center>
        <ion-icon name="pin"></ion-icon>
        {{data.address}}
      </ion-item>

      <ion-item text-center>
        <ion-icon name="mail"></ion-icon>
        <ion-label>
          {{data.email}}
        </ion-label>
      </ion-item>

      <ion-item text-center>
        <ion-icon name="information-circle"></ion-icon>
        <ion-badge *ngIf="data.status == 'DELIVERED'" color="success" item-end>{{data.status}}</ion-badge>
        <ion-badge *ngIf="data.status == 'IN-PROGRESS'" color="danger" item-end>{{data.status}}</ion-badge>
        <ion-badge *ngIf="data.status == 'PENDING'" color="warning" item-end>{{data.status}}</ion-badge>
      </ion-item>
  </ion-list>

  <ion-img *ngIf="has_image; else no_image" [src]="photoService.image?.webviewPath"></ion-img>
 
  <ng-template #no_image>
    <ion-row *ngIf="is_delivered == false">
      <ion-col text-center>
        <ion-icon name="logo-dropbox"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="is_delivered == false">
      <ion-col text-center>
        <ion-badge color="secondary">No image captured, click the camera icon to capture</ion-badge>
      </ion-col>
    </ion-row>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-row>
      <ion-col>
        <ion-fab-button *ngIf="is_delivered == false" (click)="addImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button *ngIf="photoService.image" (click)="deliver()">
          <ion-icon name="send"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>

<ion-footer no-shadow>
  <ion-card>
    <ion-card-content>
      Lat: {{ this.locationService?.watchCoordinate?.latitude }}
      Long: {{ this.locationService?.watchCoordinate?.longitude }}
      Acc: {{ this.locationService?.watchCoordinate?.accuracy }}
    </ion-card-content>
  </ion-card>
</ion-footer>